/* Should sum up to 100% */
/* 3*x */
/* 5*x */
/* 2*x */
html {
  text-align: center;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
html a {
  color: black;
}
html table {
  margin: 0 auto;
}
html table tr td {
  padding: 6px;
}
html table tr td:nth-child(1) {
  text-align: right;
}
html table tr td:nth-child(2) {
  text-align: left;
}
html input {
  padding: 3px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
html body {
  background-color: #010625;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
html #app-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  position: absolute;
  z-index: -9999;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: url(../resources/img/background2.jpg) center center;
}
html #app-wrapper #nav-bar {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5e9861;
  display: none;
  line-height: 70px;
  box-shadow: 0 -2px 15px black;
  z-index: 1000;
}
html #app-wrapper #nav-bar:hover {
  box-shadow: 0 0 15px black;
}
html #app-wrapper #nav-bar #back-button {
  display: inline-block;
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
html #app-wrapper #nav-bar #page-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
html #app-wrapper #content {
  height: 100%;
}
html #app-wrapper #content #start-page #header {
  height: 30%;
  min-height: 150px;
}
html #app-wrapper #content #start-page #header #title-box {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 550px;
  position: relative;
  font-size: 60px;
  font-family: SummerSketchFont, Verdana, sans-serif;
}
html #app-wrapper #content #start-page #header #title-box .title-lines {
  margin: auto;
}
html #app-wrapper #content #start-page #header #title-box .title-lines #second-line-text {
  margin-left: 20%;
}
html #app-wrapper #content #start-page #header #title-box .title-lines #third-line-text {
  margin-left: 10%;
}
html #app-wrapper #content #start-page #middle {
  height: 50%;
  min-height: 250px;
  position: relative;
}
html #app-wrapper #content #start-page #footer {
  height: 20%;
  min-height: 100px;
}
html #app-wrapper #content #start-page #footer #button-container {
  padding-top: 1%;
}
html #app-wrapper #content #start-page #footer #button-container #start-button {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
html #app-wrapper #content #start-page #footer #created-by-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
}
html #app-wrapper #content #start-page #footer #created-by-container #created-by {
  font-size: 8px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
html #app-wrapper #content #players-page #add-player-button-container {
  height: 150px;
  background-color: #434d56;
  position: relative;
  border-bottom: 2px solid #321244;
}
html #app-wrapper #content #players-page #add-player-button-container #add-player-button-line {
  -ms-transform: translate(0, calc(calc(150px - 40px) / 2));
  /* IE 9 */
  -webkit-transform: translate(0, calc(calc(150px - 40px) / 2));
  /* Safari */
  transform: translate(0, calc(calc(150px - 40px) / 2));
}
html #app-wrapper #content #players-page #add-player-button-container #add-player-button-line #add-player-button {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
html #app-wrapper #content #players-page #players-container #new-player-container {
  height: 250px;
  background-color: #484356;
  position: relative;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-title {
  padding-top: 10px;
  padding-left: 20px;
  color: #5e9861;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-info {
  padding-top: 20px;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-info #new-player-name {
  width: 200px;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit {
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  padding-top: 30px;
  position: relative;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-cancel {
  left: 0;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  box-shadow: 0 5px 0 #383837;
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-cancel:hover {
  background-color: #ead881;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-cancel:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-cancel:active {
  -ms-transform: translate(0, 2px);
  /* IE 9 */
  -webkit-transform: translate(0, 2px);
  /* Safari */
  transform: translate(0, 2px);
  box-shadow: 0 3px 0 #383837;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-ok {
  right: 0;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  box-shadow: 0 5px 0 #383837;
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-ok:hover {
  background-color: #ead881;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-ok:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit #new-player-btn-ok:active {
  -ms-transform: translate(0, 2px);
  /* IE 9 */
  -webkit-transform: translate(0, 2px);
  /* Safari */
  transform: translate(0, 2px);
  box-shadow: 0 3px 0 #383837;
}
html #app-wrapper #content #players-page #players-container #new-player-container #new-player-submit .new-player-btn {
  display: inline-block;
  width: 100px;
  position: absolute;
}
html #app-wrapper #content #players-page #players-container #players-list-container {
  height: 900px;
  background-color: #434d56;
  position: relative;
  border-top: 2px solid #321244;
}
/******************************************************************************/
/******************************************************************************/
.font-app-title {
  font-size: 60px;
  font-family: SummerSketchFont, Verdana, sans-serif;
}
.font-nav-bar {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
.font-small-title {
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
.font-user-input {
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
.font-small {
  font-size: 8px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
.font-medium {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
.font-large {
  font-size: 24px;
  font-family: Verdana, sans-serif;
}
/******************************************************************************/
.circle-space {
  width: 40px;
  height: 40px;
  background-color: #484356;
  position: absolute;
  bottom: -24px;
  border-radius: 50%;
  border: 2px solid #321244;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.circle-letter {
  width: 40px;
  height: 40px;
  background-color: #423642;
  position: absolute;
  top: -24px;
  border-radius: 50%;
  border: 2px solid #321244;
  line-height: 40px;
  font-size: calc(40px  * 0.75);
  /* 75% */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.circle-letter:hover {
  background-color: #504150;
}
/******************************************************************************/
.button {
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
.button:hover {
  background-color: #ead881;
}
.button:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
.small-button {
  width: 100px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  box-shadow: 0 5px 0 #383837;
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
.small-button:hover {
  background-color: #ead881;
}
.small-button:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
.small-button:active {
  -ms-transform: translate(0, 2px);
  /* IE 9 */
  -webkit-transform: translate(0, 2px);
  /* Safari */
  transform: translate(0, 2px);
  box-shadow: 0 3px 0 #383837;
}
.medium-button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  box-shadow: 0 8px 0 #383837;
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
.medium-button:hover {
  background-color: #ead881;
}
.medium-button:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
.medium-button:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
.large-button {
  width: 300px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  box-shadow: 0 11px 0 #383837;
  background-color: #e2d285;
  border-radius: 7px;
  border-top: 2px solid beige;
  cursor: pointer;
}
.large-button:hover {
  background-color: #ead881;
}
.large-button:active {
  -ms-transform: translate(0, 3px);
  /* IE 9 */
  -webkit-transform: translate(0, 3px);
  /* Safari */
  transform: translate(0, 3px);
  box-shadow: 0 5px 0 #383837;
}
.large-button:active {
  -ms-transform: translate(0, 4px);
  /* IE 9 */
  -webkit-transform: translate(0, 4px);
  /* Safari */
  transform: translate(0, 4px);
  box-shadow: 0 7px 0 #383837;
}
/******************************************************************************/
.clickable {
  cursor: pointer;
}
.centered-x-axis {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
/******************************************************************************/
@font-face {
  font-family: 'SummerSketchFont';
  src: url('../resources/fonts/summr_sketch.eot');
  /* IE9 Compat Modes */
  src: url('../resources/fonts/summr_sketch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../resources/fonts/summr_sketch.ttf') format('truetype'), /* Safari, Android, iOS */ url('../resources/fonts/summr_sketch.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
